#home {
  padding-top: 4rem;
}

.home_search {
  background-color: #f7f7f7;
  padding: 2.5rem 0;
}

.search {
  width: 80%;
}
.search_input {
  width: 80%;
}

.search_button {
  border: none;
  background-color: transparent;
  margin-right: 5px;
}

#home form input {
  border: none;
  outline: none;
  background-color: transparent;
  height: 2rem;
  border-radius: 5px;
}

.search_icon {
  color: black;
  margin-right: 1rem;
}
.home_cards_title {
  padding: 1rem;
}

.select {
  width: 150px;
  height: 40px;
  overflow: hidden;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border: 1px solid #7a7b7fab;
  border-radius: 3px;
}
.select select {
  border: none;
  width: 100%;
  outline: none;
  padding-left: 10px;
  color: #6b6868;
  font-size: 0.8rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: transparent;
}
.select select option {
  height: 20px;
}
.select-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.select-logo span:first-child {
  display: inline-block;
  background-color: #7a7b7f;
  width: 23px;
  height: 2px;
}
.select-logo span:nth-child(2) {
  display: inline-block;
  background-color: #7a7b7f;
  width: 15px;
  height: 2px;
}
.select-logo span:last-child {
  display: inline-block;
  background-color: #7a7b7f;
  width: 5px;
  height: 2px;
}
